#frontpage {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    overflow-x: hidden !important;



  
    .frontpage-inner {
        height: 100%;
        background-color: $colorBg;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .fp-inner-headline {
            color: $colorSecondary;
            margin-bottom: 100px;
            text-align: center;

            @include for-older-mobile-height(600px) {
                margin-bottom: 70px;
            }

            @include for-width(1400px) {
                margin-bottom: 0px;
            }

            @include for-height(1080px) {
                margin-bottom: -100px;
            }

            h1 {
                font-family: 'Londrina Solid', sans-serif;
                font-weight: 400;
                font-size: 30px;
                margin-bottom: 10px;
            }
            
            p {
                font-size: 18px;
                color: $gray;
            }
        }
        
        .fp-inner-main {
            background-color: #fff;
            border: 3px solid $colorPrimary;
            border-radius: 30px;
            padding: 0 10px;
        
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            .dot-left {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $colorPrimary;
                position: absolute;
                top: 10px;
                left: 15px;
            }
            
            .dot-right {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $colorPrimary;
                position: absolute;
                top: 10px;
                right: 15px;
            }
            
            .fpi-main-img {
                height: 180px;
                width: 180px;
                margin-bottom: 20px;
                border-radius: 50%;
                background-image: url("../images/frontpage/meal.jpg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                top: -80px;

                @include for-older-mobile-height(600px) {
                    height: 120px;
                    width: 120px;
                    top: -60px;
                }
            }
            
            .fpi-main-ul {
                font-size: 18px;
                padding: 0 15px;
                margin-top: -60px;
                margin-bottom: 10px;
                line-height: 1.7;
                text-align: left;

                @include for-older-mobile-height(600px) {
                    font-size: 16px;
                    margin-bottom: 0px;
                }      

                li {
                    margin-bottom: 15px;

                    span {
                        color: white;
                        text-align: center;
                        margin-right: 5px;
                        padding: 6px 11px;
                        border-radius: 50%;
                        background-color: $colorButton;
                        font-weight: 500;

                        @include for-older-mobile-height(600px) {
                            padding: 5px 10px;
                        } 
                    }
                }
                
                li:last-child {
                    margin-bottom: 5px;
                }
            }
            
            .fpi-main-btn {
                font-size: 20px;
                padding: 20px 30px;
                color: white;
                background-color: $colorButton;
                font-weight: 400;
                border: 2px solid $colorButton;
                border-radius: 15px;
                text-transform: uppercase;
                position: relative;
                bottom: -20px;
                transition: .1s;

                @include for-older-mobile-height(600px) {
                    font-size: 15px;
                    padding: 10px 15px;
                    border-radius: 10px;
                    bottom: -10px;
                }

                &:hover,
                &:active {
                    cursor: pointer;
                    background-color: $colorButton;
                }
            }
        }
        
    }
}