#homepage {
    // height: 100vh;
    width: 100vw;
    padding: 20px;
    background-color: $colorBg;

    display: flex;
    flex-direction: column;
    align-items: center;

    // border: 1px solid #f00 !important;

    // overflow-x: hidden !important;


    .header {
        width: 100vw;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        margin: 20px 0 40px 0;
        // overflow-x: hidden !important;

        h1 {
            color: $colorSecondary;

            span {
                color: $gray;
            }
        }

        .header-img {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            background-image: url("/images/frontpage/meal.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .searchbar {
        // padding: 10px;
        // border: 1px solid $colorSecondary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        .searchbar-main {
            // background-color: $colorPrimary;
            display: flex;
            align-items: center;

            i {
                font-size: 14px;
                padding: 12px;
                height: 40px;
                color: $gray;
                border-radius: 10px 0px 0px 10px;
                background-color: $colorPrimary;

                &:hover,
                &:active {
                    cursor: pointer;
                }
            }
        
            input {
                width: 80%;
                font-size: 18px;
                background-color: $colorPrimary;
                color: $colorSecondary;
                border: none;
                outline: none;
                padding: 10px;
                height: 40px;

                // ne radi
                border-radius: 0 10px 10px 0;


                ::placeholder {
                    color: $gray;
                }
            }
        }

        .search-toggle {
            width: 40px;
            height: 30px;
            padding: 2px;
            border-radius: 20px;
            background-color: $colorButton;
            // transition: .3s;

            display: flex;
            align-items: center;

            -webkit-tap-highlight-color: transparent;


            &:hover,
            &:active {
                cursor: pointer;
            }

            .toggle-thumb {
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background-color: #fff;
                position: relative;
                left: 1px;
                transition: $time;

            }

        }


    }

    .results {
        // overflow: auto;
        // white-space: nowrap;
        // ovo je skrolovanje za mobilne - sredi to posle
        // -webkit-overflow-scrolling: touch;
        width: 100vw;
        // height: 300px;
        // background-color: red;
        // display: flex;

        // overflow-x: auto;
        // overflow-y: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;



        

        .meal {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            // display: inline-block;
            // margin-right: 20px;

            margin: 20px 0px;
            width: 90%;
            color: #000;
            border: 1px solid $colorPrimary;
            border-radius: 20px;
            background-color: #fff;

            // display: inline-block;

            img {
                // display: block;
                height: 200px;
                width: 200px;
                border-radius: 50%;
                margin: 20px 0 40px 0;
            }

            h2 {
                font-size: 20px;
                margin-bottom: 20px;
            }

            .learn-more {
                padding: 10px 15px;
                margin: 10px 0;
                background-color: $colorButton;
                color: #fff;
                border-radius: 10px;

                // &:hover,
                // &:active {

                // }
            }
        }

    }

    .menu {
        margin: 0 auto;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 20px;

        // background-color: $colorButton;
        padding: 15px;
        border-radius: 20px;
        width: 150px;
        height: 60px;

        display: flex;
        justify-content: space-around;
        align-items: center;

        .home {
            padding: 15px;
            font-size: 25px;
            color: #000;
            background-color: $colorPrimary;
            border-radius: 10px;

            transition: $time;

            &:hover,
            &:active {
                cursor: pointer;
            }
        }

        .favorites {
            padding: 15px;
            font-size: 25px;
            color: $gray;
            border-radius: 10px;
            position: relative;
            
            transition: $time;

            &:hover,
            &:active {
                cursor: pointer;
            }

            .favorites-dot {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: #ff0000;
                position: absolute;
                right: 5px;
                top: 5px;

                display: none;
            }
        }
    }

}