#homepage {
    height: 100vh;
    width: 100vw;
    // padding: 20px;
    background-color: $colorBg;

    display: flex;
    flex-direction: column;
    align-items: center;

    // border: 1px solid #f00 !important;

    overflow-x: hidden !important;

    // ako zajebe overflow skloni ovo za search
    .search {
        width: 100%;
        height: 100px;
        padding: 0 20px 0 20px;
        background-color: $colorPrimary;

        display: flex;
        // align-items: flex-end;
        align-items: center;
        justify-content: center;

        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;

        .searchbar {
            // padding: 10px;
            // border: 1px solid $colorSecondary;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // margin-bottom: 30px;

            // flex-direction: column;
    
            .searchbar-main {
                // background-color: $colorPrimary;
                display: flex;
                align-items: center;
    
                i {
                    font-size: 14px;
                    padding: 12px;
                    height: 40px;
                    color: $gray;
                    border-radius: 18px 0px 0px 18px;
                    background-color: #fff;
    
                    &:hover,
                    &:active {
                        cursor: pointer;
                    }
                }
            
                input {
                    width: 90%;
                    font-size: 18px;
                    background-color: #fff;
                    color: $gray;
                    border: none;
                    outline: none;
                    padding: 10px;
                    height: 40px;
    
                    // ne radi
                    border-radius: 0 18px 18px 0;
    
    
                    ::placeholder {
                        color: $gray;
                    }
                }
            }
    
            .search-settings {
                display: flex;
                justify-content: center;
                align-items: center;
                // width: 50px;
                // height: 40px;
                // border-radius: 12px;
                // border: 1px solid #fff;
                color: #fff;
                font-size: 25px;
                user-select: none;
                outline: none;

                // fixes blue overlay box when clicked
                -webkit-tap-highlight-color: rgba(0,0,0,0);
    
                &:hover,
                &:active {
                    cursor: pointer;
                }
    
            }

    
    
        }

        .search-settings-menu {
            height: 0%;
            width: 100%;
            position: fixed;
            z-index: 10;
            // top: 0;
            // right: 0;
            bottom: 0;
            // background-color: #350707;
            background-color: $colorPrimary;
            color: #fff;
            overflow-x: hidden;
            transition: .3s;

            border-top-left-radius: 18px;
            border-top-right-radius: 18px;


            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .close {
                color: $colorSP;
                font-size: 50px;
            }

            .ssm-inner {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                // padding: 0 20px 0 20px;

                div {
                    height: 80px;
                    width: 320px;
                    border-radius: 14px;
                    border: 2px solid $colorSP;
                    margin-bottom: 5px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    -webkit-tap-highlight-color: rgba(0,0,0,0);

                    transition: .3s;

                    &:hover {
                        cursor: pointer;
                    }

                    h3 {
                        text-transform: uppercase;
                        color: $colorSP;
                    }

                    input {
                        width: 60px;
                    }

                    select {
                        border: 2px solid $colorSP;
                        width: 60px;
                        padding: 5px;
                        font-size: 18px;
                        
                    }
                }

                .search-ingredients {
                    background-color: #fff;
                }
            }
        }
    }
    
    

    .meal-sections {
        padding: 20px;
        width: 100%;
        color: $gray;
        display: flex;
        justify-content: space-between;

        div {
            padding: 5px 8px;
            border: 1px solid $gray;
            border-radius: 10px;

            &:first-child {
                border: 1px solid $colorButton;
                // background-color: $colorPrimary;
                color: $gray;
            }
        }

    }

    .results {
        // padding-bottom: 10px;
        padding: 20px;
        padding-top: 0;
        overflow: auto;
        white-space: nowrap;
        // ovo je skrolovanje za mobilne - sredi to posle
        // -webkit-overflow-scrolling: touch;
        width: 100vw;

        // za chrome
        &::-webkit-scrollbar {
            display: none;
        }

        // za firefox
        scrollbar-width: none;

        .meal-n {
            display: inline-block;
            margin: 0px 10px 10px 0;
            color: #000;
            border: 1px solid $colorPrimary;
            border-radius: 20px;
            background-color: #fff;
            width: 80%;
            height: 380px;
        }


        .meal {
            display: inline-block;
            margin: 0px 10px 10px 0;
            color: #000;
            border: 1px solid $colorPrimary;
            border-radius: 20px;
            background-color: #fff;
            width: 80%;

            // TODO - FIX TEXT-WRAP option for H2 !!!
            // word-wrap: break-word;

            // text-align: left;
            overflow: hidden;
            // display: inline-block;

            .meal-inner {
                padding: 10px 20px 20px 15px;
                display: block;
                width: 100%;
                height: 380px;
                // word-wrap: break-word;
                // text-align: left;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                position: relative;
                // overflow: hidden;

                white-space: normal;


                // background-color: rgb(255, 214, 152);


                // background-color: rgb(255, 160, 160);

                img {
                    // display: block;
                    height: 250px;
                    width: 250px;
                    border-radius: 50%;
                    margin: 0 0 0 0;
    
                    position: relative;
                    top: -20px;
                    left: -75px;
                }

                .favorite-meal {
                    position: absolute;
                    right: 12px;
                    top: 12px;

                    border-radius: 50%;
                    font-size: 30px;
                    color: #f13535;

                    z-index: 3 !important;
                }
    
                h2 {
                    // font-family: 'Londrina Solid', 'Roboto', sans-serif;
                    text-align: left;
                    color: $gray;
                    // word-wrap: break-word;
                    font-size: 20px;
                    margin-bottom: 10px;
                    position: relative;
                    bottom: 10px;
                }
    
                .learn-more {
                    padding: 12px 18px;
                    // margin: 10px 0;
                    background-color: $colorButton;
                    color: #fff;
                    font-size: 20px;
                    border-radius: 10px;

                    position: absolute;
                    bottom: 20px;
    
                    // &:hover,
                    // &:active {
    
                    // }
                }
            }

            
        }

        .end-div {
            display: inline-block;
            
            position: relative;
            bottom: 200px;

            .back {
                color: $colorButton;
                font-size: 50px;
                height: 40px;
                width: 40px;

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

    }

}