#userpage {
    height: 100vh;
    width: 100vw;
    // padding: 20px;
    background-color: $colorBg;
    color: $gray;

    .header {
        width: 100%;
        height: 20%;
        background-color: $colorPrimary;
        // background-color: $colorPrimary;

        display: flex;
        align-items: center;
        justify-content: center;

        .main-nav-inner {
            color: #fff;
            position: relative;
            bottom: 20px;

            i {
                font-size: 30px;

                @include for-width(900px) {
                    font-size: 40px;
                }
            }

        }

        // .search-settings-menu
        .userpage-menu {
            height: 0%;
            width: 100%;
            position: fixed;
            z-index: 10;
            // top: 0;
            // right: 0;
            bottom: 0;
            // background-color: #350707;
            background-color: $colorPrimary;
            color: #fff;
            overflow-x: hidden;
            transition: .3s;

            border-top-left-radius: 18px;
            border-top-right-radius: 18px;


            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .close-userpage {
                color: $colorSP;
                font-size: 50px;

                @include for-width(600px) {
                    font-size: 80px;
                }

                @include for-width(1200px) {
                    font-size: 100px;
                }
            }

            .userpage-inner {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                // padding: 0 20px 0 20px;

                div {
                    height: 80px;
                    width: 320px;
                    border-radius: 14px;
                    border: 2px solid $colorSP;
                    margin-bottom: 5px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    -webkit-tap-highlight-color: rgba(0,0,0,0);

                    transition: .3s;

                    @include for-both(1080px, 1920px) {
                        width: 400px;
                        height: 120px;
                        font-size: 25px;
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    h3 {
                        text-transform: uppercase;
                        color: $colorSP;
                    }

                    input {
                        width: 60px;
                    }

                    select {
                        border: 2px solid $colorSP;
                        width: 60px;
                        padding: 5px;
                        font-size: 18px;
                        
                    }
                }

                .userpage-fav {
                    background-color: #fff;
                }
            }

            .menu-desktop-u {
                // z-index: 5;
                // margin: 0 auto;
                // position: fixed;
                // left: 0;
                // right: 0;
                // bottom: 0;
        
                // width: 100vw;
                // background-color: #fff;
        
                // background-color: $colorButton;
                padding: 40px;
                // width: 250px;
                height: 60px;
        
                display: flex;
                justify-content: center;
                align-items: center;

                // border: 2px solid $colorSP;
                border-radius: 22px;
                
                display: none;

                @include for-width(900px) {
                    display: flex;
                }
        
                // @include for-both(1024px, 768px) {
                //     bottom: 20px;
                //     width: 250px;
                //     justify-content: space-evenly;
                // }
        
                // @include for-both(800px, 1280px) {
                //     bottom: 10px;
                // }
        
                // @include for-both(768px, 1366px) {
                //     display: flex;
                //     padding: 50px;
                // }

                // @include for-both(720px, 1280px) {
                //     display: flex;
                //     padding: 50px;
                // }
        
                // @include for-both(601px, 962px) {
                //     bottom: -5px;
                // }
        
                // border-top-left-radius: 18px;
                // border-top-right-radius: 18px;
        
                // width: 100%;
                // background-color: $colorButton;
        
                .home-desktop-u {
                    height: 80px;
                    width: 80px;
                    margin-right: 10px;
                    font-size: 35px;
                    color: $colorSP;
                    border: 2px solid $colorSP;
                    border-radius: 10px;
        
                    transition: $time;
        
                    display: flex;
                    justify-content: center;
                    align-items: center;
        
                    @include for-both(1024px, 768px) {
                        font-size: 50px;
                        padding: 20px 25px;
                        border-radius: 15px;
                    }
        
                    @include for-both(800px, 1280px) {
                        font-size: 40px;
                    }
        
        
                    &:hover,
                    &:active {
                        cursor: pointer;
                    }
                }
        
                .user-desktop-u {
                    height: 80px;
                    width: 80px;
                    font-size: 35px;
                    color: $colorSP;
                    background-color: #fff;
                    border: 2px solid $colorSP;
                    border-radius: 10px;
                    position: relative;
        
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    transition: $time;
        
                    @include for-both(1024px, 768px) {
                        font-size: 50px;
                        padding: 20px 25px;
                        border-radius: 15px;
                    }
        
                    @include for-both(800px, 1280px) {
                        font-size: 40px;
                    }
        
                    &:hover,
                    &:active {
                        cursor: pointer;
                    }
        
                    .favorites-dot {
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        background-color: #ff0000;
                        position: absolute;
                        right: 2px;
                        top: -2px;
        
                        display: none;
                    }
                }
        
            }
        }
    }

    .main {
        z-index: 2;

        // height: 100%;
        width: 100%;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        position: relative;
        bottom: 40px;
        
        background-color: $colorBg;

        padding-top: 20px;


        // display: flex;
        // flex-direction: column;
        // justify-content: flex-start;
        // align-items: center;

        .main-nav {
            // margin: 0 auto;
            // background-color: red;

            display: flex;
            justify-content: center;
            align-items: center;

            // @include for-width(1000px) {
            //     margin-bottom: 20px;
            // }

            .headline {
                text-transform: lowercase;
                color: $gray;

                @include for-width(900px) {
                    margin-bottom: 20px;
                    font-size: 35px;
                }
            }
        }



        // .favorites,
        // .notes {
        //     display: none;
        // }
        
        .main-inner {
            height: 80vh;
            padding: 20px;

            @include for-width(900px) {
                height: 74vh;
            }

            // display: block;

            .favorites {
                width: 100%;
                height: 100%;
                // background-color: red;

                overflow: auto;
                white-space: nowrap;

                // display: flex !important;
                // flex-wrap: wrap !important;
                // justify-content: space-evenly !important;
                // align-items: center !important;

                // display: flex;
                // justify-content: center;
                // align-items: center;
                // flex-wrap: wrap;

                @include for-width(900px) {

                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    align-items: center;

                    overflow: none;
                    white-space: normal;

                    // height: 70vh;
                }

                // za chrome
                &::-webkit-scrollbar {
                    display: none;
                }

                // za firefox
                scrollbar-width: none;

                .meal-f {
                    display: inline-block;
                    margin: 0px 10px 10px 0;
                    color: #000;
                    border-radius: 20px;
                    border: 1px solid #d8d8d8;
                    background-color: #fff;
                    width: 80%;
                    height: 380px;
                    overflow: hidden;
        
                    @include for-both(601px, 962px) {
                        display: inline-block;
                    }
        
                    @include for-width(600px) {
                        width: 45%;
                        margin-bottom: 20px;
                    }
        
                    @include for-width(1000px) {
                        width: 30%;
                    }
        
                    @include for-height-mobile(680px) {
                        height: 410px;
                    }
        
                    @include for-height-mobile(720px) {
                        height: 450px;
                    }
        
                    @include for-height-mobile(780px) {
                        height: 500px;
                    }
        
                    @include for-width(1500px) {
                        width: 24%;
                    }
        
                    @include for-both(1080px, 1920px) {
                        width: 23%;
                    }
                    
                    .meal-inner-f {
                        height: 100%;
                        // overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        // justify-content: space-evenly;
        
                        position: relative;
        
                        img {
                            background-position: center center;
                            background-size: cover;
                            height: 70%;
                            
                        }
        
        
                        .inner-bottom {
                            padding: 20px;
                            height: 30%;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            
        
                            h2 {
                                text-align: left;
                                color: $colorSecondary;
                                // word-break: break-all;
                                white-space: normal;
                            }
        
                            i {
                                color: red;
                                padding: 15px;
                                border: 1px solid red;
                                border-radius: 50%;
                                background-color: #fff;
           
                                font-size: 30px;
                                // padding-left: 20px;
                                margin-left: 10px;
                                border-left: 1px solid $colorPrimary;
                                border-right: 1px solid $colorPrimary;
                                // position: absolute;
                                // top: 10px;
                                // right: 10px;
        
                                @include for-both(1024px, 768px) {
                                    font-size: 35px;
                                }
                            }
                        }
                    }
        
                }

                .end-div {
                    display: inline-block;
                    
                    position: relative;
                    bottom: 200px;

                    @include for-width(900px) {
                        display: none;
                    }
        
                    .userpage-back {
                        color: $colorButton;
                        font-size: 50px;
                        height: 40px;
                        width: 40px;
        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
    
            .notes {
                // uncomment this when you are done with styling
                // display: none;
                // background-color: #fff;
                height: 100%;
                width: 100%;
                // margin: 0 auto;

                @include for-width(950px) {
                    width: 80%;
                    margin: 0 auto;
                }

                @include for-width(1400px) {
                    width: 60%;
                }

                .notes-input {
                    width: 100%;
                    height: 100px;
                    // background-color: red;

                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    input {
                        width: 70%;
                        height: 40px;
                        font-size: 20px;
                        background-color: transparent;
                        color: $gray;
                        padding: 10px;
                        border: none;
                        border-bottom: 2px solid $colorPrimary;

                        transition: .3s;

                        @include for-width(950px) {
                            font-size: 25px;
                        }

                        &:focus {
                            outline: none;
                            border-bottom: 2px solid $colorSP;
                        }

                        // &::placeholder {
                        //     color: $gray;
                        // }
                    }

                    i {
                        font-size: 40px;
                        color: $gray;

                        @include for-width(950px) {
                            font-size: 50px;
                        }
                    }
                }

                .notes-inner {
                    border-radius: 30px;
                    padding: 30px 20px;
                    width: 100%;
                    height: 60%;
                    background-color: #fff;

                    overflow: auto;
                    white-space: nowrap;

                    @include for-width(950px) {
                        font-size: 25px;
                        padding: 30px 40px;
                    }

                    .note {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 18px;

                        margin-bottom: 12px;

                        i {
                            margin-left: 20px;
                            font-size: 20px;

                            @include for-width(950px) {
                                font-size: 25px;
                            }
                        }

                        p {
                            word-break: break-all;
                            white-space: normal;

                            @include for-width(950px) {
                                font-size: 25px;
                            }
                        }
                    }
                }
                
            }
        }

    }
}