// variables
$colorPrimary: #fdc33b;
$colorSP: #df8723;
$colorSecondary: #212121;
$colorButton: #d34338;
$colorBg: #f3f7fc;
$gray: #686868;
$time: .2s;

// media queries mixins
@mixin for-width($size) {
    @media (min-width: $size) { @content; }
}

@mixin for-height($size) {
    @media (min-height: $size) { @content; }
}

@mixin for-both($height, $width) {
    @media (min-height: $height) and (min-width: $width) { @content; }
}


@mixin for-height-mobile($size) {
    @media (min-height: $size) and (max-width: 599px) { @content; }
}

// @mixin phone-only {
//     @media (max-width: 599px) { @content; }
// }

// @mixin tablet-portrait-up {
//     @media (min-width: 600px) { @content; }
// }

// @mixin tablet-landscape-up {
//     @media (min-width: 900px) { @content; }
// }

// @mixin desktop-up {
//     @media (min-width: 1200px) { @content; }
// }

// @mixin big-desktop-up {
//     @media (min-width: 1800px) { @content; }
// }

/* reset */
* {

    // zezalica

    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    // border: 1px solid #f00 !important;

    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }

    
    /* base styles */
    body {
        color: $colorSecondary;
        font-family: 'Roboto', sans-serif;
        letter-spacing: .5px;
        display: flex;
        flex-direction: column;
        align-items: center;

        
        // overflow-x: hidden !important;
        // max-width: 260px;
        // margin: 0;

        // overflow-x: hidden !important;


        // border: 1px solid purple !important;

    }

    // html {
    //     width: 100vw;
    //     height: 100vh;
    // }

    html, body {
        max-width: 100vw !important;
        max-height: 100vh !important;
        // overflow-x: hidden !important;
        // overflow-y: hidden !important;
    }

    // body {
    //     background-color: red;
    //     margin: 0 !important;
    // }
        
    .menu {
        z-index: 5;
        margin: 0 auto;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;

        // width: 100vw;
        // background-color: #fff;

        // background-color: $colorButton;
        padding: 40px;
        // width: 250px;
        height: 60px;

        display: flex;
        justify-content: center;
        align-items: center;
        

        @include for-both(1024px, 768px) {
            bottom: 20px;
            width: 250px;
            justify-content: space-evenly;
        }

        @include for-both(720px, 1280px) {
            display: none;
        }

        @include for-both(800px, 1280px) {
            bottom: 10px;
        }

        @include for-both(768px, 1366px) {
            display: none;
        }


        // @include for-both(601px, 962px) {
        //     bottom: -5px;
        // }

        // border-top-left-radius: 18px;
        // border-top-right-radius: 18px;

        // width: 100%;
        // background-color: $colorButton;

        .home {
            padding: 15px 18px;
            margin-right: 10px;
            font-size: 25px;
            color: #000;
            background-color: $colorPrimary;
            border-radius: 10px;

            transition: $time;

            display: flex;
            justify-content: center;
            align-items: center;

            @include for-both(1024px, 768px) {
                font-size: 50px;
                padding: 20px 25px;
                border-radius: 15px;
            }

            @include for-both(800px, 1280px) {
                font-size: 40px;
            }


            &:hover,
            &:active {
                cursor: pointer;
            }
        }

        .user {
            padding: 17px;
            font-size: 25px;
            color: $gray;
            border-radius: 10px;
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;
            
            transition: $time;

            @include for-both(1024px, 768px) {
                font-size: 50px;
                padding: 20px 25px;
                border-radius: 15px;
            }

            @include for-both(800px, 1280px) {
                font-size: 40px;
            }

            &:hover,
            &:active {
                cursor: pointer;
            }

            .favorites-dot {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: #ff0000;
                position: absolute;
                right: 2px;
                top: -2px;

                display: none;
            }
        }

    }

}

// html {
//     overflow: hidden !important;
// }

// body {
//     height: 100% !important;
// }

// imports
@import "./_frontpage";
@import "./_homepage";
@import "./_mealpage";
@import "./_userpage";
