// variables
$colorPrimary: #fcd06a;
$colorSecondary: #212121;
$colorButton: #d34338;
$colorBg: #f3f7fc;
$gray: #686868;
$time: .2s;

html {

    width: 100vw !important;
}
/* reset */
* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // border: 1px solid #f00 !important;

    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }

    html {
        width: 360px !important;
        overflow:auto; 
    }
    
    /* base styles */
    body {
        color: $colorSecondary;
        font-family: 'Roboto', sans-serif;
        letter-spacing: .5px;
        // width: 100vw !important;
        width: 360px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        overflow: hidden !important;

        border: 1px solid #f00 !important;


        // border: 1px solid purple !important;

    }

}

// imports
@import "./_frontpage";
@import "./_homepage";
@import "./mealpage";
@import "./userpage";
