html {
  width: 100vw !important;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* base styles */
}

* li {
  list-style: none;
}

* a {
  text-decoration: none;
}

* html {
  width: 360px !important;
  overflow: auto;
}

* body {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .5px;
  width: 360px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden !important;
  border: 1px solid #f00 !important;
}

#frontpage {
  width: 100vw;
  height: 100vh;
  /* padding: 20px; */
  /* background-color: #fffcd5; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#frontpage .frontpage-inner {
  /* background-color: #ffeded; */
  background-color: #f3f7fc;
  /* height: 100vh; */
  padding: 40px;
  /* margin: 20px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#frontpage .frontpage-inner .fp-inner-headline {
  color: #212121;
  margin-bottom: 100px;
  text-align: center;
}

#frontpage .frontpage-inner .fp-inner-headline h1 {
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 10px;
}

#frontpage .frontpage-inner .fp-inner-headline p {
  font-size: 18px;
  color: #686868;
}

#frontpage .frontpage-inner .fp-inner-main {
  background-color: #fff;
  border: 3px solid #fcd06a;
  border-radius: 30px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#frontpage .frontpage-inner .fp-inner-main .dot-left {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fcd06a;
  position: absolute;
  top: 10px;
  left: 15px;
}

#frontpage .frontpage-inner .fp-inner-main .dot-right {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fcd06a;
  position: absolute;
  top: 10px;
  right: 15px;
}

#frontpage .frontpage-inner .fp-inner-main .fpi-main-img {
  height: 180px;
  width: 180px;
  margin-bottom: 20px;
  border-radius: 50%;
  background-image: url("/images/frontpage/meal.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -80px;
}

#frontpage .frontpage-inner .fp-inner-main .fpi-main-ul {
  font-size: 18px;
  padding: 0 15px;
  margin-top: -60px;
  margin-bottom: 10px;
  line-height: 1.7;
  text-align: left;
}

#frontpage .frontpage-inner .fp-inner-main .fpi-main-ul li {
  margin-bottom: 15px;
}

#frontpage .frontpage-inner .fp-inner-main .fpi-main-ul li span {
  color: white;
  text-align: center;
  margin-right: 5px;
  padding: 6px 11px;
  border-radius: 50%;
  background-color: #d34338;
  font-weight: 500;
}

#frontpage .frontpage-inner .fp-inner-main .fpi-main-ul li:last-child {
  margin-bottom: 5px;
}

#frontpage .frontpage-inner .fp-inner-main .fpi-main-btn {
  font-size: 20px;
  padding: 20px 30px;
  color: white;
  /* background-color: #fd3232; */
  background-color: #d34338;
  font-weight: 400;
  border: 2px solid #d34338;
  border-radius: 15px;
  text-transform: uppercase;
  position: relative;
  bottom: -20px;
  -webkit-transition: .1s;
  transition: .1s;
}

#frontpage .frontpage-inner .fp-inner-main .fpi-main-btn:hover, #frontpage .frontpage-inner .fp-inner-main .fpi-main-btn:active {
  cursor: pointer;
  /* color: #d34338; */
  background-color: #d34338;
  /* color: #fd3232;
                        background-color: #fff; */
}

#homepage {
  width: 100vw !important;
  padding: 20px;
  background-color: #f3f7fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #f00 !important;
  overflow: hidden;
}

#homepage .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 40px 0;
}

#homepage .header h1 {
  color: #212121;
}

#homepage .header h1 span {
  color: #686868;
}

#homepage .header .header-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-image: url("/images/frontpage/meal.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#homepage .searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

#homepage .searchbar .searchbar-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#homepage .searchbar .searchbar-main i {
  font-size: 14px;
  padding: 12px;
  height: 40px;
  color: #686868;
  border-radius: 10px 0px 0px 10px;
  background-color: #fcd06a;
}

#homepage .searchbar .searchbar-main i:hover, #homepage .searchbar .searchbar-main i:active {
  cursor: pointer;
}

#homepage .searchbar .searchbar-main input {
  width: 80%;
  font-size: 18px;
  background-color: #fcd06a;
  color: #212121;
  border: none;
  outline: none;
  padding: 10px;
  height: 40px;
  border-radius: 0 10px 10px 0;
}

#homepage .searchbar .searchbar-main input ::-webkit-input-placeholder {
  color: #686868;
}

#homepage .searchbar .searchbar-main input :-ms-input-placeholder {
  color: #686868;
}

#homepage .searchbar .searchbar-main input ::-ms-input-placeholder {
  color: #686868;
}

#homepage .searchbar .searchbar-main input ::placeholder {
  color: #686868;
}

#homepage .searchbar .search-toggle {
  width: 40px;
  height: 30px;
  padding: 2px;
  border-radius: 20px;
  background-color: #d34338;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-tap-highlight-color: transparent;
}

#homepage .searchbar .search-toggle:hover, #homepage .searchbar .search-toggle:active {
  cursor: pointer;
}

#homepage .searchbar .search-toggle .toggle-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  left: 1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#homepage .results {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#homepage .results .meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
  width: 100%;
  color: #000;
  border: 1px solid #fcd06a;
  border-radius: 20px;
  background-color: #fff;
}

#homepage .results .meal img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 20px 0 40px 0;
}

#homepage .results .meal h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

#homepage .results .meal .learn-more {
  padding: 10px 15px;
  margin: 10px 0;
  background-color: #d34338;
  color: #fff;
  border-radius: 10px;
}

#homepage .menu {
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20px;
  padding: 15px;
  border-radius: 20px;
  width: 150px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#homepage .menu .home {
  padding: 15px;
  font-size: 25px;
  color: #000;
  background-color: #fcd06a;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#homepage .menu .home:hover, #homepage .menu .home:active {
  cursor: pointer;
}

#homepage .menu .favorites {
  padding: 15px;
  font-size: 25px;
  color: #686868;
  border-radius: 10px;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#homepage .menu .favorites:hover, #homepage .menu .favorites:active {
  cursor: pointer;
}

#homepage .menu .favorites .favorites-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #ff0000;
  position: absolute;
  right: 5px;
  top: 5px;
  display: none;
}
/*# sourceMappingURL=style.css.map */