#mealpage {
    height: 100vh;
    width: 100vw;
    // padding: 20px;
    background-color: $colorBg;

    .img {
        height: 30%;
        width: 100%;
        background-color: red;

        background-image: url('https://img.grouponcdn.com/deal/2iTm4PtuPqk644BEdNxxNqEqf3Cw/2i-1000x600/v1/c870x524.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .icons {
        width: 85%;
        margin: 0 auto;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
            font-size: 28px;
            padding: 10px;
            color: $colorPrimary;
        }

        .favorite-meal {
            color: red;
        }
    }

    .mealpage-main {
        overflow: auto;
        white-space: nowrap;
        width: 90%;
        height: 300px;
        padding: 20px;
        // margin: 20px;
        margin: 0 auto;
        border-radius: 20px;
        background-color: #fff;

        h3 {
            text-align: left;
            color: $gray;
            text-transform: lowercase;
        }

        .ingredients {
            padding: 20px;

            li {
                list-style-type: circle
            }
        }

    }
}